@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display:ital,wght@1,400;1,500;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(61, 58, 58);
}

main{
    width: 1480px;
    height: 2000px;
    background-color: rgb(255, 255, 255);
    margin: 2em auto;
    padding: 0.5em;
}

.encabezado{
        height: 9%;
        background-color: rgb(255, 255, 255);
        display: flex;
       /* justify-content: space-between;*/
        font-family: 'Merriweather', serif;
        margin-top: 2.5em;
        margin-left: 5em;
        margin-right: 5em;
        
}

.cinta{
    height: 3%;
    background: linear-gradient(#444 0%, #eee 5%, #555 25%, #333 45%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Merriweather', serif;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
}

.imagen{
    width: 89.2%;
    height: 25%;
    margin-top: 1em;
    margin-left: 5em;
    margin-right:  5em;
    box-shadow: 0 2px 3px rgb(122, 119, 119);
}

.contenido{
    height: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    font-family: 'Merriweather', serif;
    margin-top: 1em;
    margin-left: 5em;
    margin-right:  5em;
}

.pie{
    height: 6%;
    background-color: rgb(255, 255, 255);
    font-family: 'Merriweather', serif;
    margin-top: 1em;
    margin-left: 5em;
    margin-right:  5em;
}

.buscar{
    font-family: 'Merriweather', serif;
    width: 18%;
    height: 35px;
    border: 2px solid  rgb(122, 119, 119);
    padding-left: 10px;
    border-radius: 6px;
    margin:  1em;
    box-shadow: 0 2px 3px rgb(122, 119, 119);
}

.buscar::placeholder{
    font: var(--fa-font-solid);
    content: "\f007";
}

.buscar:focus{
    outline: none;
}

.cajacinta{
    height: 20%;
    background-color: rgb(0, 0, 0);
    font-family: 'Merriweather', serif;
}

.logo{
    width: 15%;
    height: 89%;
    box-shadow: 0 2px 3px rgb(122, 119, 119);
}

.letras-logo{
    height: 67%;
    width: 25%;
    font-family: 'Merriweather', serif;
    flex-direction: column;
    margin: 1em;
    background-color: rgb(255, 255, 255);
}

#caja4{
    height: 20%;
    width: 75%;
    font-family: 'Merriweather', serif;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin-left: 27%;
    margin-top: 5%;
}

button{
    height: 80%;
    width: 54%;
    margin: 0.5em;
}

.textorojo{
    height: 10%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 28%;
}


.cajatotal{
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: 30%;

}

.nav{
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 15%;
}

.cajapie{
    width: 300px;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    margin: 0.5em;
    margin-left: 20%;
    display: flex;
}

.cajis{
    text-decoration: none;
    color: #000000;
    margin-left: 15%;
}

.copi{
    text-align: center;
    margin: 1.5em;
}

.cajacon{
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 100%;
    border: 2px solid  rgb(0, 0, 0);
    border-radius: 5px;
}

.cajavit{
   background-color: rgb(255, 255, 255);
   height: 70%;
   width: 30%;
   margin-left: 1em;
}

.cajavideo{
   background-color: rgb(255, 255, 255);
   height: 49%;
   border-radius: 5px;
   border: 2px solid  rgb(0, 0, 0);
}

.cajaitem{
   background-color: rgb(255, 255, 255);
   height: 49%;
   border-radius: 5px;
   margin-top: 1em;
   border: 2px solid  rgb(0, 0, 0);
}

.cajera1{
    background-color: rgb(255, 255, 255);
    height: 48%;
    margin: 1em;
}

.cajera2{
    background-color: rgb(255, 255, 255);
    height: 47%;
    margin: 1em;
}

.cintavideo{
    height: 13%;
    width: 95%;
    background: linear-gradient(#444 0%, #eee 5%, #555 25%, #333 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    margin: 0.5em;
    color: white;
    font-size: 25px;
}

iframe{
    margin-left: 1.3em;
}

.link{
    height: 12%;
    width: 68%;
    font-size: 25px;
}


.cajaitem2{
   
    margin-top: 1em;
    font-size: 25px;
}

.cintavideo1{
    height: 13%;
    width: 100%;
    background: linear-gradient(#444 0%, #eee 5%, #555 25%, #333 45%);
    display: flex;
    align-items: center;
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 25px;
   
}

.icon1{
    height: 85%;
    width: 30%;
    margin-top: 1em;
    box-shadow: 0 2px 3px rgb(122, 119, 119);
}

.textocon{
    margin: 1.5em;
    font-size: 18px;
}

.tulicon{
   display: flex;
   height: 70%;
   width: 100%;
   background-color: rgb(255, 255, 255);
}

.descargacon{
    height: 17%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dow{
   border-radius: 5px;
   width: 180%;
   font-size: 20px;
}

.purch{
    border-radius: 5px;
    width: 180%;
    font-size: 20px;
 }

 .imagencon2{
     display: flex;
     background-color: #ffffff;
     height: 40%;
     
 }

 img{
     height: 85%;
     width: 21.2%;
     margin: 1em;
     box-shadow: 0 2px 3px rgb(122, 119, 119);
 }

 .textocon2{
     display: flex;
     height: 15%;
     background-color: rgb(255, 255, 255);
 }

 .c1{
     margin-left: 1.5em;
     margin-top: 1em;
     font-size: 16px;
 }

 .textocon3{
     background-color: rgb(255, 255, 255);
     margin: 1em;
     font-size: 18px;
 }

 .referen{
     color: #000000;

 }
